body {
  background: #eee;
}

#side_nav {
  background: #000;
  min-width: 250px;
  max-width: 250px;
}

.content {
  min-height: 100vh;
  width: 100%;
  margin-left: 250px;
}

hr.h-color {
  background-color:#eee;
  height: 2px;
}

.messages li {
  border-radius: 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background: #444;
  text-align: left;

  display: flex;
  align-items: center;
  justify-content: space-between;

  user-select: none;
  cursor: pointer;
}

.messages li.active {
  background: #eee;
}

.messages li:first-child {
  border-radius: 6px 6px 0 0;
  border-top: none;
}

.messages li:last-child {
  border-radius: 0 0 6px 6px;
  border-bottom: none;
}

.messages li:only-child {
  border-radius: 6px;
}

.messages li a {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: #fff;
  padding: 10px;
}

.messages li a span:nth-child(2) {
  margin-left: 20px;
}

.messages li a .bg-dark {
  border-radius: 20px;
}


.sidebar li.active a, .sidebar li.active a:hover {
  color: #000;
}

.sidebar li a {
  color: #fff;
}

.messages li .rounded-pill {
  margin-left: auto;
}
