<div class="main-container d-flex">
  <aside class="sidebar" id="side_nav" style="position: fixed; height: 100%"> <!-- Remove style -->
    <div class="header-box px-2 pt-4 pb-4 d-flex justify-content-center">
      <h1 class="fs-4"><span class="bg-white text-dark rounded shadow px-2 me-2">TOTYL</span> <span class="text-white">Messaging</span></h1>
      <button class="btn d-md-none d-block close-btn px-1 py-0 text-white"><i class="fa-solid fa-bars"></i></button>
    </div>

    <div class="input-group container-fluid">
      <input type="text" rows="1" class="form-control" placeholder="Search...">
      <button class="btn btn-dark fa-solid fa-magnifying-glass"></button>
    </div>

    <hr class="h-color mx-4">
    <ul class="messages list-unstyled px-2">
      <li class="active">
        <a class="text-decoration-none px-3 py-2 d-block d-flex">
            <span style="display: flex; align-items: center; justify-content: center;">
              <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar" class="rounded-circle profile-image img-thumbnail" style="width: 48px;">
            </span>


          <span>
              <strong><small>Username</small></strong> <br/>
              <small><small>Message Text...</small></small>
            </span>
        </a>

        <span class="badge right">
              <span class="bg-dark rounded-pill text-white py-1 px-2">01</span>
            </span>
      </li>
    </ul>
    <hr class="h-color mx-4">

    <ul class="list-unstyled px-2 d-block options">
      <li class="py-1"><a href="/settings" class="text-decoration-none px-3 py-2"><i class="fa fa-gear"></i> Settings</a></li>
      <li class="py-1"><a href="/about" class="text-decoration-none px-3 py-2"><i class="fa fa-address-card"></i> About</a></li>
      <li class="py-1"><a href="/logout" class="text-decoration-none px-3 py-2"><i class="fa fa-arrow-right-from-bracket"></i> Log out</a></li>
    </ul>
  </aside>

  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="d-flex navbar-expand d-md-none">
        <button class="btn px-1 py-0 open-btn"><i class="fa-solid fa-bars"></i></button>
      </div>

      <div class="m-auto text-center px-3">
        <i class="fa-solid fa-circle fa-fade fa-2xs" style="color: #00c200;"></i> Username
      </div>

      <span class="d-flex navbar-text">
              <i class="fa-solid fa-id-badge fa-xl"></i>
            </span>
    </div>
  </nav>

  <main class="chat-history mt-4 mb-3 pb-5">
    <ul class="m-b-0 list-unstyled">
      <li class="clearfix" *ngFor="let msg of messageList">
        <div class="message-data" [ngClass]="{'text-left': !msg.isSender, 'text-right': msg.isSender}">
          <div class="message-data-time" [ngClass]="{'float-left': !msg.isSender, 'float-right': msg.isSender}">
            <span class="username">{{msg.nickname}}</span>
            <span class="message-data-time text-muted">9:25 PM</span>
          </div>
          <div class="message" [ngClass]="{'my-message': msg.isSender, 'other-message': !msg.isSender}">
            {{msg.message}}
          </div>
        </div>
      </li>
    </ul>
  </main>

    <footer class="footer fixed-bottom mt-auto py-3 bg-light">
      <div class="container">
        <div class="input-group">
          <textarea id="chatbox_input" rows="1" class="form-control " placeholder="Type your message" [(ngModel)]="message" (keyup.enter)="sendMessage(currentChatUser)"></textarea>
          <button class="btn btn-outline-secondary fa-solid fa-face-smile" (click)="showEmojiPicker()"></button>
          <button class="btn btn-outline-secondary fa-solid fa-paper-plane"(click)="sendMessage(currentChatUser)"></button>
        </div>
      </div>
    </footer>
  </div>
