.chat-history {
  padding: 20px;
}

.chat-history ul {
  padding: 0
}

.chat-history ul li {
  list-style: none;
  margin-bottom: 30px
}

.chat-history ul li:last-child {
  margin-bottom: 0px
}

.chat-history .message-data {
  margin-bottom: 15px;
}


.chat-history .message-data-time {
  color: #434651;
  padding-left: 6px
}

.chat-history .message {
  color: #444;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  display: inline-block;
  position: relative
}

.chat-history .other-message {
  background: #Fff196
}


.chat-history .my-message {
  background: #c2dbe5;
  text-align: left;
}


.chat-message {
  padding: 20px
}

.online,
.offline,
.me {
  margin-right: 2px;
  font-size: 8px;
  vertical-align: middle
}

.online {
  color: #86c541
}

.offline {
  color: #e47297
}

.me {
  color: #1d8ecd
}

.float-right {
  float: right
}


/* In your component CSS file */

.message-data {
  margin-bottom: 0.5rem;
}

.other-message {
  background-color: #007bff;
  color: white;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
  clear: both;
  float: left;
}

.my-message {
  background-color: #e8f1f3;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
  clear: both;
  float: right;
}

.message-data-time {
  color: #434651;
  font-size: 12px;
  margin-bottom: 5px;
}

.message-data-time .username {
  font-weight: bold;
  color: white;
}

.my-message .message-data-time {
  text-align: left;
}

.other-message .message-data-time {
  text-align: left;
}






body {
  background: #eee;
}

#side_nav {
  background: #1b1b1b;
  min-width: 300px;
  max-width: 300px;
  transition: all 0.2s;
  z-index: 1031;
}

.chat-history {
  min-height: 100vh;
  width: 100%;
  margin-left: 300px;
}

hr.h-color {
  background-color:#eee;
  height: 2px;
}

.messages li {
  border-radius: 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background: #444;
  text-align: left;

  display: flex;
  align-items: center;
  justify-content: space-between;

  user-select: none;
  cursor: pointer;
}

.messages li.active {
  background: #eee;
}

.messages li:first-child {
  border-radius: 6px 6px 0 0;
  border-top: none;
}

.messages li:last-child {
  border-radius: 0 0 6px 6px;
  border-bottom: none;
}

.messages li:only-child {
  border-radius: 6px;
}

.messages li a {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: #fff;
  padding: 10px;
}

.messages li a span:nth-child(2) {
  margin-left: 20px;
}

.messages li a .bg-dark {
  border-radius: 20px;
}


.sidebar li.active a, .sidebar li.active a:hover {
  color: #000;
}

.sidebar li a {
  color: #fff;
}

.messages li .rounded-pill {
  margin-left: auto;
}
nav {
  margin-left: 300px;
}

footer {
  margin-left: 300px;
}

textarea {
  resize: none;
}

.options {
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media(max-width: 767px) {
  #side_nav {
    margin-left: -300px;
    position: fixed;
    min-height: 100vh;
  }
  nav {
    margin-left: 0px;
  }
  #side_nav.active {
    margin-left: 0;
  }
  footer {
    margin-left: 0px;
  }
  .chat-history {
    margin-left: 0px;
  }
}
