<div class="container">
  <app-username (userNameEvent)="userNameUpdate($event)" *ngIf="!userName"></app-username>
  <h1>TOTYL - Chat</h1>
  <div class="chatbox">
    <div class="chatbox_user-list">
      <h2>Members</h2>
      <div class="chatbox_user-active" *ngFor="let user of userList">
        <p>{{ user }}</p>
      </div>
    </div>
    <div class="messages_list">
      <div class="chatbox_messages" *ngFor="let msg of messageList" [ngClass]="{isSender: msg.isSender}">
        <div class="user-message">
          <div class="message-box">
            <p class="name"><strong>{{ msg.userName }}</strong></p>
            <p class="name">{{ msg.message }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="chatbox_input" class="chatbox_input">
    <input type="text" [(ngModel)]="message" (keyup.enter)="sendMessage()">
    <button (click)="showEmojiPicker()">😀</button>
    <button (click)="sendMessage()">Send</button>
  </div>
</div>
