.text-border-bottom {
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  background-color: transparent;
  color: #000;
  padding: 0.5rem 1rem;
}

.profile-image {
  width: 244px;
  height: 244px;
}

.edit-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 58px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #f8f9fa;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.edit-icon i {
  font-size: 28px;
  color: #555;
}
