
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="h-100 vh-100 d-flex align-items-center justify-content-center">
  <div>
    <app-header></app-header>

    <div class="d-flex mb-5">
      <div class="position-relative">
        <img src="../../../assets/img/profile.jpg" alt="Profile Picture" class="rounded-circle profile-image" />
        <div class="edit-icon">
          <i class="fa fa-pencil edit-icon"></i>
        </div>
      </div>
    </div>

    <div class="row mb-2">
      <input type="text" class="text-border-bottom text-white" placeholder="Nickname">
    </div>

    <div class="row">
      <div class="col">
        <button class="btn text-white btn-sm m-2 float-start" style="background-color: #454545">Skip</button>
        <button class="btn text-white btn-sm m-2 float-end" style="background-color: #454545">Next</button>
      </div>
    </div>

    <app-footer></app-footer>
  </div>
</div>

