<div class="h-100 vh-100 d-flex align-items-center justify-content-center mx-3">
<div>
      <app-header></app-header>
    <div class="container-fluid justify-content-center">
      <div class="row justify-content-center">
        <div class="about-header col-md-12">
          <h1>About</h1>
        </div>
      </div>
      <div class="row justify-content-center pb-5">
        <div class="card mx-5" style="width: 18rem;">
          <img class="card-img-top" src="../../../assets/img/profile.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Jordan Partridge</h5>
            <p class="card-text">This is some information about Jordan</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card mx-5" style="width: 18rem;">
          <img class="card-img-top" src="../../../assets/img/profile.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Thomas Heal</h5>
            <p class="card-text">This is some information about Thomas</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="card">
        <h5 class="card-header">About Totyl</h5>
        <div class="card-body">
          <h5 class="card-title">TOTYL Team Mission</h5>
          <p class="card-text">This application is for our final project in our 2nd year of the CPA program at
                               Conestoga College.</p>
          <button type="button" class="btn btn-primary" (click)="btnMessages_click()">View the Message System</button>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .card:hover {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
  }

  .card-img-top {
    border-radius: 50%;
    transition: transform 0.5s;
  }

  .card:hover .card-img-top {
    transform: rotateY(180deg);
  }

  .about-header {
    text-align: center;
    margin-top: 50px;
  }

  .about-header h1 {
    font-size: 5em;
    color: #007bff;
    text-shadow: 2px 2px 4px #000000;
    animation: about-header-flash 0.5s infinite;
  }

  @keyframes about-header-flash {
    0% {
      color: #007bff;
    }
    50% {
      color: #6c757d;
    }
    100% {
      color: #007bff;
    }
  }
</style>
