<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">
    <span class="" style="color:yellow">About</span>
    <span class="" style="color:cornflowerblue">Us</span>
  </h1>
</div>
<div class="container">
  <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Jordan Partridge</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title">FoolProof Programmer <small class="text-muted"> ...sortof</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Has impeccable skills</li>
            <li>Likes to chew bubble gum...</li>
            <li>Is all out of bubble gum.</li>
            <li>Can also do some sweet OTP</li>
          </ul>
<!--          <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>-->
            <img class="card-img-top" src="../../../assets/img/profile.jpg" alt="Jordan" style="width: 50%">

        </div>
      </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Jordan Partridge</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title">FoolProof Programmer <small class="text-muted"> ...sortof</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Has impeccable skills</li>
          <li>Likes to chew bubble gum...</li>
          <li>Is all out of bubble gum.</li>
          <li>Can also do some sweet OTP</li>
        </ul>
        <!--          <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>-->
        <img class="card-img-top" src="../../../assets/img/profile.jpg" alt="Jordan" style="width: 50%">
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

<style>
  /* Set a default layout for the cards */
  .card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  /* Set the background color of the cards */
  .card {
    background-color: #1b1b1b;
  }

  /* Set the text color of the headers to yellow */
  .card-header, .card-title, .card-text {
    color: yellow;
  }

  /* Set the text color of the list items to white */
  .list-unstyled li {
    color: white;
  }

  /* On screens wider than 768px, display the cards horizontally */
  @media (min-width: 768px) {
    .card-deck {
      flex-direction: row;
    }
    .card {
      margin-right: 15px;
      margin-left: 15px;
      max-width: calc(50% - 30px);
    }
  }



</style>
