<div class="modal" tabindex="-1" role="dialog" id="loginModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Connect to TOTYL</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" placeholder="Username" [(ngModel)]="userName" (keyup.enter)="setUserName()">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="setUserName()">Connect</button>
      </div>
    </div>
  </div>
</div>
<!--
<input type="text" placeholder="Username" [(ngModel)]="userName">
<button (click)="setUserName()">Connect</button>
-->
